# ========================================
# IDE
# ========================================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# ========================================
# Docker
# ========================================
*.log

# ========================================
# Autres
# ========================================
*.tmp
*.bak
*.swp